.view-card {
    border-bottom: 3px solid transparent;
    margin: 5px 5px 0 5px;
    transition: border .3s;
}
.view-card:hover {
    border-bottom: 3px solid var(--color-main);
}

.github-card {
    display: flex;
    align-items: center;
}

.github-card > img {
    margin: 0 0 0 25px;
    max-height: unset;
    max-width: unset;
    height: 50px;
    width: 50px;
}

.github-card > div.name {
    flex-direction: column;
    overflow: hidden;
    display: flex;
    flex: 1;
}
.github-card > div.name > a > svg {
    display: inline-block;
    margin-right: 5px;
    fill: var(--color-font);
}
.github-card > div.name > span {
    text-decoration: none !important;
    color: var(--color-font-1);
    font-weight: normal;
    white-space: nowrap;
    font-size: 0.8rem;
}
.github-card > div.name > div.topics {
    display: flex;
    flex-wrap: wrap;
}
.github-card > div.name > div.topics > span {
    background: var(--color-main);
    color: var(--color-font-r);
    border-radius: 100px;
    padding: 2px 15px;
    margin-right: 5px;
    margin-top: 3px;
    font-size: 0.8rem;
    font-weight: 200;
}

.og-card {
    display: flex;
}
.og-card > img {
    max-height: 100%;
    margin: 0 20px 0 5px;
    transform: unset;
    cursor: default;
}
.og-card a {
    text-decoration: underline !important;
    color: var(--color-font-1);
    margin-bottom: 5px;
    font-size: 0.8rem;
    font-weight: 400;
}
/* .og-card a::before {
    text-align: center;
    content: '🔗';
    color: transparent;
    text-shadow: 0 0 0 var(--color-font-1);
} */
.og-card p {
    font-size: 0.9rem;
    font-weight: bold;
    margin: 0;
}
.og-card span {
    color: var(--color-font-1);
    font-weight: 500;
    margin-top: 10px;
    display: block;
    padding: 0 10px;
    border-left: var(--color-main) solid 4px;
    border-radius: 3px;
}