.ab-card {
    margin-top: -100px;
    flex-direction: row;
    flex-wrap: wrap;
    display: flex;
    position: relative;
    z-index: 1;
}
.ab-card > div.says {
    flex: 1;
}

.ab-base {
    margin-right: 20px;
    flex-direction: column;
    align-items: center;
    max-width: 35%;
    padding: 40px;
    display: flex;
}
.ab-base img {
    border-radius: 100%;
    transform: none;
    width: 60px;
    margin: 0;
}
.ab-base p#ab-name {
    color: var(--color-main);
    font-weight: bold;
    font-size: 1.2rem;
    margin-top: 10px;
    margin-bottom: 0;
}
.ab-base p#ab-mail {
    color: var(--color-font-2);
    font-size: 0.8rem;
}
.ab-base span#ab-context {
    font-size: 0.9rem;
    text-align: center;
}
.ab-base hr {
    border-top: 1px solid var(--color-card-2);
    height: 1px;
    width: 100%;
}
.ab-base > div#ab-gpg {
    color: var(--color-font-2);
    font-size: 0.9rem;
    display: flex;
}
.ab-base > div#ab-gpg a {
    background: var(--color-main);
    color: var(--color-font-r);
    border-radius: 100px;
    font-weight: bold;
    padding: 3px 10px;
    font-size: 0.7rem;
}

@media (max-width: 992px) {
    .ab-card {
        flex-direction: column;
    }
    .ab-base {
        margin-bottom: 20px;
        margin-right: 0;
        max-width: 100%;
        width: 100%;
    }
}

.social {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.social a {
    background: var(--color-card-1);
    border-radius: 100%;
    width: 35px;
    height: 35px;
    padding: 5px 10px;
    margin-right: 5px;
    margin-left: 5px;
}
.social svg {
    fill: var(--color-font-1);
    height: 15px;
    width: 15px;
}

.devices {
    box-shadow: none !important;
    background: transparent;
    margin-top: 20px;
}
.ss-card header > span {
    color: var(--color-font-2);
    font-size: 0.8rem;
    margin-left: 10px;
}
.devices > div {
    flex-wrap: wrap;
    display: flex;
}

.device {
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
    padding: 40px 20px;
    margin-right: 10px;
    display: flex;
    width: 165px;
}
.device > svg {
    fill: var(--color-main);
    margin-bottom: 20px;
    height: 40px;
    width: 40px;
}
.device > span {
    color: var(--color-font-2);
    font-size: 0.8rem;
}
.device > a {
    color: var(--color-font);
    font-weight: normal;
    text-align: center;
    text-wrap: nowrap;
}
.device > div {
    width: calc(100% + 40px);
    border-radius: 0 0 7px 7px;
    background: var(--color-card-1);
    margin-bottom: -40px;
    margin-top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.device-info {
    text-overflow: ellipsis;
    padding: 3px 3px;
    overflow: hidden;
    height: 30px;
}
.device-info > svg {
    fill: var(--color-font);
    height: 11px;
    width: 16px;
}
.device-info.on {
    display: block;
}
.device-info.off {
    display: none;
}
.device-info > a,
.device-info > span {
    font-size: 0.7rem;
    text-wrap: nowrap;
}

.ss-doing {
    flex-direction: column;
    align-items: center;
    display: flex;
    width: 100%;
}
.ss-doing > span {
    color: var(--color-font-2);
    margin-bottom: 10px;
    font-size: 0.9rem;
}
.ss-doing > div {
    background: var(--color-card-1);
    box-shadow: none !important;
    justify-content: center;
    margin-bottom: 10px;
    align-items: center;
    display: flex;
    height: 45px;
    width: 100%;
}
.ss-doing > div svg {
    fill: var(--color-main);
    margin-right: 10px;
    height: 20px;
    width: 20px;
}
.ss-doing > div span {
    color: var(--color-main);
    font-size: 0.9rem;
    margin-left: 10px;
    font-weight: 200;
}