html, body {
    height: 100%;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    background: var(--color-bg);
    height: 100%;
    display: flex;
    flex-direction: column;
}

.body {
    flex: 1;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 5px var(--color-shader);
    margin-top: 20px;
    border-radius: 7px;
    background: var(--color-card);
    margin-bottom: 20px;
    transition: border .3s, transform .3s;
    border-bottom: 3px solid transparent;
}

.nav-controller {
    width: 100%;
    position: absolute;
    margin-top: 50px;
    height: 10vh;
}
.nav-controller > div {
    height: 10px;
    border-radius: 5px;
    background: var(--color-main);
    width: 30%;
    margin: 30px auto 0;
    pointer-events: none;
    display: none;
    transition: margin .3s, opacity .5s;
}

.top-bar {
    --height:60vh;
    height: var(--height);
}

.top-bar > div:first-child {
    width: 100%;
    height: 100%;
    background: var(--color-bg);
    opacity: 0.5;
}
.top-bar > div:last-child {
    position: absolute;
    top: 0;
    height: var(--height);
    width: 100%;
}

.top-bar-title {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;
    width: calc(100% - 5px);
}
.top-bar-title p {
    font-size: 2rem;
    font-weight: bold;
    color: var(--color-font-1);
    margin-bottom: 5px;
}
.top-bar-title span {
    font-size: 1rem;
    color: var(--color-font-1);
}
@media (max-width: 992px) {
    .nav-bar {
        margin-top: 0 !important;
        border-radius: 0 !important;
    }
}

.main-card {
    width: 100%;
    margin-bottom: 20px;
    background: var(--color-bg);
    margin-top: 95px;
    border-radius: 7px;
}

.article-info {
    min-height: 40px;
    background: var(--color-main);
    border-radius: 7px;
    padding: 10px 20px;
    color: var(--color-font-r);
    display: flex;
    flex-direction: row;
}
.article-info > div:first-child {
    display: flex;
    align-items: center;
    width: 100%;
}
.article-info > div:first-child p {
    font-size: 1.3rem;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 0;
    flex: 1;
    white-space: nowrap;
    overflow: hidden;
    margin-right: 40px;
    text-overflow: ellipsis;
}
.article-info > div:first-child p > svg {
    height: 2rem;
    fill: var(--color-font-r);
    margin-right: 10px;
}
.article-info > div:first-child > div {
    display: flex;
    align-items: center;
}
.article-info > div:first-child > div > div {
    display: flex;
    flex-direction: column;
    font-size: 0.9rem;
    align-items: flex-end;
}
.article-info > div:first-child > div > img {
    height: 2.5rem;
    width: 2.5rem;
    border-radius: 50%;
    outline: 2px solid var(--color-main);
    border: 5px solid var(--color-card-2);
    transform: none;
    margin-left: 10px;;
}

.article-controller {
    transform: translate(0, 60px);
    transition: transform .3s;
    padding-left: 20px;
    flex-direction: row;
    align-items: stretch;
    height: 0;
    display: none !important;
}
.article-controller.hid {
    transform: translate(0, -20px);
    display: flex !important;
}
.article-controller > a {
    max-width: 30%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.article-controller > a svg {
    height: 1.5rem;
    fill: var(--color-font-1);
    margin-right: 10px;
    margin-top: -5px;
}
.article-controller > div {
    flex: 1;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-right: -10px;
}
.article-controller > div svg {
    height: 40px;
    padding: 10px;
    cursor: pointer;
    fill: var(--color-font-1);
}

.main {
    display: flex;
}
.main > div:first-child {
    overflow: hidden;
    flex: 1;
}
.main > div:last-child {
    width: 0;
    padding-top: 20px;
    transition: width .3s;
    overflow: hidden;
}

.content {
    background: var(--color-card);
    border-radius: 7px;
    padding: 10px 20px 1px 20px;
    position: sticky;
    top: 20px;
    transition: top .3s;
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.content > div:first-child {
    cursor: pointer;
    background: var(--color-main);
    color: var(--color-font-r);
    padding: 10px 20px;
    margin: -10px -20px 20px -20px;
    border-radius: 7px 7px 0 0;
    display: flex;
    align-items: center;
}
.content > div:first-child > span {
    flex: 1;
}
.content > div:first-child > svg {
    fill: var(--color-font-1-r);
    transition: transform .3s;
    transform: rotate(90deg);
    margin-top: 3px;
    display: none;
}
.content.show > div:first-child > svg {
    transform: rotate(270deg);
}
.content-progress {
    height: 5px;
    background: var(--color-main);
    margin: 0 -20px;
    width: calc(calc(100% + 40px) * 0);
}
.content-progress-small {
    border-radius: 10px;
    margin: 0 -10px;
    display: none;
}
.content-body {
    max-height: calc(100vh - 120px);
    overflow-x: hidden;
    overflow-y: scroll;
    padding: 10px 15px 25px 0;
    width: 100%;
    margin: -10px 0 5px 10px;
    flex: 1;
    overscroll-behavior: contain;
}
.comment-body::-webkit-scrollbar {
    background-color: transparent !important;
}
.content-body > div:last-child {
    margin-bottom: 0 !important;
}
.content-body > div {
    border-radius: 7px;
    padding: 10px 20px;
    display: flex;
}
.content-body > div > a {
    color: var(--color-font);
}
.content-body > div.lvo.select {
    background: var(--color-main);
}
.content-body > div.lvo.select > a {
    color: var(--color-font-r);
}
.content-body > div.lvt {
    background: var(--color-card-1);
    transition: all .1s;
    transform: scaleY(1);
    transform-origin: top center;
    border-radius: 0;
    padding: 5px 20px;
}
.content-body > div.lvt > div {
    width: 15px;
}
.content-body > div.lvt.setsmall {
    height: 0;
    transform: scaleY(0);
    padding: 0;
    margin-bottom: 0;
}
.content-body > div.lvt.select {
    background: var(--color-card-1);
}
.content-body > div.lvt.select > div {
    width: 5px;
    background-color: var(--color-main);
    border-radius: 7px;
    margin: 3px 10px 3px 0;
}
.li-a-show {
    border-left: 7px solid var(--color-main) !important;
    background: var(--color-card-1);
}

.article-main {
    color: var(--color-font);
    padding: 20px;
}
.article-main img {
    max-width: 90%;
    max-height: 90%;
    margin: 10px 0 10px 50%;
    transform: translate(-50%);
    border-radius: 7px;
    /*border: 3px solid var(--color-card);*/
    /*outline: 3px solid var(--color-main);*/
    cursor: pointer;
}
.article-main h1,
.article-main h2,
.article-main h3,
.article-main h4,
.article-main h5,
.article-main h6 {
    color: var(--color-main);
    line-height: 1.5rem;
    margin-top: 20px;
}
.article-main h1 {
    border-bottom: 1px solid var(--color-card-2);
    padding-bottom: 10px;
}
.article-main h1:before,
.article-main h2:before,
.article-main h3:before,
.article-main h4:before,
.article-main h5:before {
    color: var(--color-font-2);
    opacity: 0.2;
    position: absolute;
    margin-left: -40px;
    transition: color .5s, opacity .5s;
 }
.article-main-h-in-view:before {
    color: var(--color-main) !important;
    opacity: 0.5 !important;
}
.article-main h1:after,
.article-main h2:after,
.article-main h3:after {
    content: "#";
    color: var(--color-font-2);
    float: right;
    opacity: 0.3;
    transition: color .5s, opacity .5s;
}
.article-main h1.select:before,
.article-main h2.select:before,
.article-main h3.select:before,
.article-main h4.select:before,
.article-main h5.select:before,
.article-main h1.select:after,
.article-main h2.select:after,
.article-main h3.select:after {
    color: var(--color-main);
    opacity: 0.7;
}
.article-main h1 {
    font-size: 1.5rem;
}
.article-main h1:before {
    content: "H1";
}
.article-main h2 {
    font-size: 1.3rem;
}
.article-main h2:before {
    content: "H2";
}
.article-main h3 {
    font-size: 1.25rem;
}
.article-main h3:before {
    content: "H3";
}
.article-main h4 {
    font-size: 1.125rem;
}
.article-main h4:before {
    content: "H4";
}
.article-main h5 {
    font-size: 1rem;
}
.article-main h5:before {
    content: "H5";
}
.article-main h6 {
    font-size: 0.875rem;
}
.article-main a {
    color: inherit;
    font-weight: 600;
    text-decoration: revert;
}
.article-main blockquote {
    background: var(--color-card);
    padding: 10px;
    border-radius: 7px;
    border-left: 7px solid var(--color-main);
}
.article-main blockquote > p {
    margin-bottom: 0;
}
.article-main abbr {
    text-decoration: underline wavy;
    text-decoration-color: var(--color-font-2);
}
.article-main table {
    background: var(--color-card-1);
    border-radius: 7px;
    overflow: hidden;
    margin-bottom: 10px;
}
.article-main table > thead {
    background: var(--color-card-2);
}
.article-main table td,
.article-main table th {
    padding: 10px;
}
.katex-html {
    display: none;
}

.code-toolbar {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 20px;
    max-width: calc(100vw - 40px);
}
.code-toolbar > pre {
    margin: 0.5rem 0 0 0 !important;
}
.code-toolbar > .toolbar {
    position: unset !important;
    display: flex;
    flex-direction: row;
    background: var(--color-card-1);
    margin-bottom: -8px;
    border-radius: 7px 7px 0 0;
    padding: 10px;
    opacity: 1 !important;
    z-index: auto !important;
}
.code-toolbar > .toolbar div:first-child {
    flex: 1;
}
.code-toolbar > .toolbar div:first-child span {
    border-radius: 7px !important;
    padding: 8px 20px !important;
    color: var(--color-font) !important;
}
.code-toolbar > .toolbar div:first-child span:before {
    content: '✏️';
    color: transparent;
    text-shadow: 0 0 0 var(--color-main);
    margin-right: 10px;
}
.code-toolbar > .toolbar div:last-child button {
    background: var(--color-card-1) !important;
    color: var(--color-font) !important;
    transition: background .3s;
    height: 30px;
    width: 90px;
}
.code-toolbar > .toolbar div:last-child button:hover {
    background: var(--color-card) !important;
    opacity: 0.7;
}
.line-numbers-rows > span:before {
    color: var(--color-font);
}
.line-numbers .line-numbers-rows {
    border-right: none;
    left: 0 !important;
    background: var(--color-card-1) !important;
    height: 100%;
    padding-top: 10px;
}

.end-info {
    background: var(--color-card);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    color: var(--color-font);
}

.more-card {
    display: flex;
    margin-bottom: 20px;
    margin-top: 10vh;
}
.more-card > div:first-child {
    overflow: hidden;
    min-width: 300px;
    width: 30%;
    display: none;
    flex-direction: column;
    align-items: center;
    background: var(--color-card);
    color: var(--color-font-1);
    border-radius: 7px;
    padding: 20px 40px;
    margin-right: 60px;
    justify-content: center;
}
.more-card > div:first-child a {
    text-align: center;
    width: 100%;
    color: var(--color-font);
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.more-card > div:first-child > span:nth-child(1) {
    font-size: 2rem;
    font-weight: 600;
}
.more-card > div:first-child > span:nth-child(2) {
    font-size: 5rem;
    color: var(--color-font-2);
    opacity: 0.3;
    margin-top: -40px;
    font-weight: 100;
}
.more-card > div:first-child > hr {
    width: 100%;
    background-color: var(--color-font-2);
    opacity: 0.5;
}
.more-card > div:first-child > div {
    flex: 1;
}
.more-card > div:first-child > div.fov {
    display: flex;
    width: calc(100% + 80px);
    background: var(--color-card-1);
    border-radius: 0 0 7px 7px;
    padding: 10px 20px;
    margin: 30px -20px -20px -20px;
}
.more-card > div:first-child > div.fov > span {
    font-size: 0.8rem;
    display: flex;
    overflow: hidden;
}
.more-card > div:first-child > div.fov > div {
    flex: 1;
    min-width: 3rem;
}
.more-card > div:last-child {
    flex: 1;
}

.comment-send-card {
    background: var(--color-card);
    margin-bottom: 20px;
    border-radius: 7px;
    padding: 30px;
}
.comment-send-card > div:first-child {
    color: var(--color-font);
    margin-left: 70px;
}
.comment-send-card > div:first-child a {
    color: var(--color-font-1);
    text-decoration: underline;
    cursor: pointer;
}
.comment-send-card > div:last-child {
    display: flex;
    margin-top: 5px;
}
.comment-send-card > div:last-child > img {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid var(--color-main);
    outline: 5px solid var(--color-card-2);
    margin-top: 5px;
}
.comment-send-card > div:last-child > div {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    margin-left: 20px;
}
.comment-send-card > div:last-child > div > label {
    height: 200px !important;
    border-radius: 7px 7px 0 0;
    margin-bottom: 0;
}
.comment-send-card > div:last-child > div > div:first-child {
    background: var(--color-card-1);
    padding: 20px 10px 10px 10px;
    border-radius: 7px 7px 0 0;
    border-left: 6px solid var(--color-card-2);
    margin: 0 1px -4px;
    display: flex;
    flex-direction: row;
}
.comment-send-card > div:last-child > div > div:first-child input {
    width: calc(100% / 3 - 10px);
    margin: 0 10px;
    background: var(--color-card-2);
    border: 0;
    height: 35px;
    border-radius: 7px;
    padding-left: 20px;
}
.comment-send-card > div:last-child > div > div:last-child {
    background: var(--color-card-1);
    padding: 10px;
    border-left: 6px solid var(--color-card-2);
    border-radius: 0 0 7px 7px;
    margin: -2px 1px 0 1px;
    display: flex;
    flex-direction: row-reverse;
}
.comment-send-card > div:last-child > div > div > button {
    width: 100px;
}

.comment-body {
    margin-top: -20px;
    border-radius: 7px;
    margin-bottom: 20px;
    padding: 0 30px 30px 30px;
    background: var(--color-card);
}

.comment-main {
    display: flex;
    background: var(--color-card-1);
    border-radius: 7px;
    padding: 20px;
    margin-left: 65px;
    margin-bottom: 10px;
    transition: transform .3s, opacity .3s;
    flex-wrap: wrap;
    flex: 1;
}
.comment-main > div[class=comment-main] {
    padding: 0;
}
.comment-main img[name="avater"] {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    border: 2px solid var(--color-main);
    outline: 5px solid var(--color-card-2);
    margin-top: 5px;
}
.comment-body-body {
    flex: 1;
    margin-left: 20px;
}
.comment-body-body p {
    margin-bottom: 5px;
}
.comment-body-body > p {
    font-weight: bold;
    margin-top: 10px;
}
.comment-body-control {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    margin-top: 10px;
}
.comment-body-control > div {
    background: var(--color-main);
    fill: var(--color-font-r);
    color: var(--color-font-r);
    padding: 5px 20px;
    border-radius: 7px;
    font-size: 0.9rem;
    cursor: pointer;
}
.comment-body-control > div svg {
    height: 1rem;
    margin-right: 5px;
}
.comment-replay {
    margin-left: 65px;
    padding: 0;
}

.comment-tags {
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
    display: flex;
}
.comment-tags > div {
    background: var(--color-main);
    padding: 3px 10px;
    margin-right: 10px;
    border-radius: 4rem;
}
.comment-tags > div > a {
    color: var(--color-font-r);
}

.image-view {
    display: none;
}
.viewer-canvas {
    background-color: rgba(var(--color-bg-rgb), 0.5);
}
.viewer-canvas > img {
    border-radius: 7px;
}
.viewer-title,
.viewer-title:hover {
    color: var(--color-font-1) !important;
}
.viewer-toolbar > ul > li {
    width: 40px !important;
    height: 40px !important;
    background: var(--color-card-2) !important;
    border-radius: 7px !important;
    margin: 5px !important;
    display: flex !important;
    flex-direction: row !important;
    align-items: center !important;
    justify-content: center !important;
}
.viewer-toolbar > ul > li:hover {
    background: var(--color-card-1) !important;
}
.viewer-toolbar > ul > li:focus {
    border: 0 !important;
}
.viewer-navbar {
    background: transparent !important;
}
.viewer-list > li {
    border-bottom: 2px solid var(--color-main) !important;
    margin: 0 2px !important;
}
.viewer-list > .viewer-active {
    transition: width .3s;
    width: 50px;
}

.article-main code {
    background: var(--color-main) !important;
    display: inline-block !important;
    color: var(--color-font-r) !important;
    padding: 0 10px !important;
    margin: 0 10px -7px !important;
    border-radius: 7px;
    font-family: 'monospace' !important;
    overflow-x: scroll;
}
.article-main code::-webkit-scrollbar {
    display: none;
}
.article-main pre:not([class*=language-]) > code {
    padding: 10px 20px !important;
    width: calc(100% - 20px);
}
.article-main pre[class*=language-] > code {
    background: var(--color-card) !important;
    background-size: 3em 3em !important;
    background-origin: content-box !important;
    background-attachment: local !important;
    display: block !important;
    padding: 10px 20px 10px 4em !important;
    margin: 0 !important;
    border-radius: 0 0 7px 7px !important;
    color: var(--color-font) !important;
    font-size: 0.9rem;
}
.article-main pre[class*=language-] > code > span {
    font-size: 0.9rem;
}
.line-numbers .line-numbers-rows {
    border-right: 0 !important;
}

@media (max-width: 992px) {
    footer {
        width: calc(100% - 30px) !important;
        margin: 15px !important;
    }
    .body {
        padding: 0 10px !important;
    }

    .top-bar {
        --height: 13rem;
        background-size: cover !important;
        margin: 5rem 0 20px 0;
        border-radius: 7px;
    }
    .top-bar > div:last-child {
        margin-top: 5rem;
    }
    .top-bar-title p {
        font-size: 1rem;
    }
    .top-bar-title span {
        font-size: 0.8rem;
    }

    .article-main {
        padding: 0;
    }
    .main > div:last-child {
        width: 0;
    }
    .article-controller.hid {
        transform: translate(0px, -40px);
        display: flex !important;
    }
    .code-toolbar {
        max-width: unset;
    }
    .post-controller > svg:first-child {
        display: none;
    }
    .main-right {
        width: 0 !important;
    }
    .main-card {
        margin-top: 65px;
    }
    .content {
        box-shadow: 0 0 10px var(--color-shader);
        transform: translateY(-60px);
        transition: transform .2s;
        margin-top: 100vh;
        margin-left: 15%;
        position: fixed;
        height: 400px;
        z-index: 20;
        width: 70%;
        left: 0;
        top: 0;
    }
    .content.show {
        transform: translateY(-420px) !important;
    }
    .content.nb {
        transform: translateY(-53px);
    }
    .content-progress-small {
        display: block;
    }
    .content.show > div.content-progress-small {
        display: none !important;
    }
    .content.hidden {
        transform: translateY(0);
    }
    .content > div:first-child > svg {
        display: block;
    }
    .more-card > div:first-child {
        margin-right: 0;
        width: 100%;
    }
    .more-card > div:last-child {
        display: none;
    }

    .article-info > div:first-child p {
        font-size: 1.1rem;
    }
}