.comment-bar {
    background: var(--color-main);
    border-radius: 20px;
    margin: 10px 0;
    height: 20px;
}

.comment-respond-body {
    margin-top: -3px;
}
.comment-respond-body > form > p {
    padding: 0 30px;
}
.comment-respond-body > form > p.cinput > textarea {
    background: var(--color-card-1);
    border: 0;
    border-radius: 7px;
    color: var(--color-font-1);
    padding: 20px;
    width: 100%;
}
.comment-respond-body > form > p.csubmit {
    display: flex;
    flex-direction: row-reverse;
}
.comment-respond-body > form > p.csubmit > button {
    padding: 0 20px;
}
.comment-respond-body > form > p.csubmit > a {
    margin-right: 10px;
    background: var(--color-card-1);
    border-radius: 7px;
    padding: 5px 20px;
    color: var(--color-font);
    height: inherit;
}
.comments-list .respond.comment-respond {
    border: 0;
}
.comments-list .respond.comment-respond > div.comment-respond-body {
    border: 2px solid var(--color-card-1);
    padding: 20px 0 0 0;
}
.comments-list .respond.comment-respond > div.comment-respond-body:hover {
    box-shadow: none !important;
}

.comment-login-info span {
    font-size: 1.1rem;
    font-weight: bold;
    flex: 1;
}
.comment-login-info.login {
    box-shadow: none !important;
    background: transparent;
    align-items: center;
    padding: 10px 20px;
    display: flex;
}
.comment-login-info.login img {
    outline: 3px solid var(--color-main);
    border: 1px solid var(--color-card);
    border-radius: 100%;
    height: 35px;
    width: 35px;
}
.comment-login-info.login > div {
    flex-direction: column;
    margin-right: 10px;
    text-align: end;
    display: flex;
}
.comment-login-info.login > div a {
    color: var(--color-font-2);
    font-size: 0.8rem;
}
.comment-login-info.login > div a.name {
    color: var(--color-font);
    font-weight: bold;
    font-size: 1rem;
}
.comment-login-info.unlogin > div {
    margin: 30px 20px 20px 20px;
    flex-wrap: wrap;
    display: flex;
}
.comment-login-info.unlogin > div > div {
    margin-bottom: 10px;
    display: flex;
    width: 100%;
}
.comment-login-info.unlogin > div p {
    width: 100%;
}
.comment-login-info.unlogin p {
    margin-bottom: 0;
    padding: 0 10px;
}
.comment-login-info.unlogin input {
    border-radius: 7px;
    background: var(--color-card-1);
    border: 0;
    padding: 10px 15px;
    width: 100%;
}

.comments-list {
    margin-top: 20px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.comments-list > span {
    color: var(--color-font-r);
    background: var(--color-main);
    border-radius: 99px;
    padding: 5px 10px;
}
.comments-list ol,
.comments-list li {
    list-style: none;
}
.comments-list > ol {
    width: 100%;
    padding: 0;
}
.comments-list > ol > li {
    background: var(--color-card) !important;
    border: 0 !important;
    padding: 0;
}

/* 对默认评论列表的一些 CSS 覆盖 */
.comments-list > ol > li:first-child {
    margin-top: 15px;
}
.comments-list > ol > li {
    margin-bottom: 15px;
    margin-top: 0;
}
.comments-list > ol > li > div.comment-author {
    background: var(--color-card-1);
    border-radius: 7px 7px 0 0;
    margin-bottom: 0;
    padding: 10px 20px 0 20px;
}
.comments-list > ol > li > div.comment-meta {
    background: var(--color-card-1);
    border-radius: 0 0 7px 7px;
}
.comment-meta {
    padding: 0 20px 10px 20px;
    margin-top: -15px;
}
.comments-list > ol > li > div.comment-meta > a {
    margin-left: 75px;
}
.comment-meta > a {
    color: var(--color-font-1);
    font-size: 0.8rem;
    margin-left: 55px;
}
.comment-reply {
    margin-top: calc(-2rem - 20px);
}
.comment-reply > a {
    color: var(--color-font-1);
    font-size: 0.9rem;
    padding: 5px 25px;
    text-align: right;
    width: 100%;
    display: block;
}
.comment-children {
    border-top: 2px solid var(--color-card-1);
    border-radius: 7px;
    margin-top: 20px;
}
.comment-children > ol > li {
    background: var(--color-card) !important;
    border: 0 !important;
    margin: 0;
    padding-right: 0;
    padding-bottom: 10px;
}
.comments-list > ol > li > div.comment-author .avatar {
    border: 2px solid var(--color-card);
    outline: 3px solid var(--color-main);
}
.comment-author .avatar {
    margin-top: 10px;
    margin-right: 20px;
    border-radius: 100%;
}
.comment-author cite {
    color: var(--color-main);
    font-style: normal;
    font-size: 1.1rem;
}
.comment-author cite > a {
    color: var(--color-main);
}
.comments-list > ol > li > div.comment-content {
    padding: 20px 50px;
}
.comment-content {
    color: var(--color-font);
    padding: 10px 50px;
}