.friend-pan {
    display: flex;
    flex-wrap: wrap;
}

.friend-card {
    width: calc(1 / 3 * 100%);
    margin-top: 0;
    margin-bottom: 5px;
    height: 120px;
}
.friend-card > div {
    width: 100%;
    margin-right: 0;
}

.pin > div {
    height: 115px;
}
.pin-img {
    min-width: 115px;
    max-width: 115px;
    transform: translate(-10px);
}

@media (max-width: 992px) {
    .friend-card {
        width: 100%;
        margin: 0 20px;
    }
}